[trivia]
serverlist = sorcery
categories = acronym-soup,anatomy,animals,art-and-literature,brain-bender,category-bag,entertainment,food-and-drink,general,movies-tv-music,trivia-bag,astrology,words-and-numbers
hour = 09
day = 13
week = 33
month = 08
year = 2025

[sorcery]
channels = #trivia
time_control = on

[servername1_channel]
cache = 0

[sorcery_trivia]
cache = 0
neo_nemesis = 13980,2,2,35.1

[sorcery_tcd]
trivia_h = 13980^Neo_Nemesis
trivia_d = 13980^Neo_Nemesis
trivia_w = 13980^Neo_Nemesis
trivia_m = 13980^Neo_Nemesis
trivia_y = 13980^Neo_Nemesis

